docs/workflows/healthcheck.json
{
    "id": "SJOAtSRB8XlGCJpl",
    "name": "FarolV3 - Healthcheck",
    "active": true,
    "createdAt": "2026-02-05T03:30:00.000Z",
    "updatedAt": "2026-02-05T04:00:00.000Z",
    "nodes": [
        {
            "id": "webhook_health",
            "name": "Webhook Health",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                112,
                304
            ],
            "parameters": {
                "httpMethod": "GET",
                "path": "health",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            }
        },
        {
            "id": "code_health",
            "name": "Check Health",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                304,
                304
            ],
            "parameters": {
                "jsCode": "// Basic healthcheck\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      status: 'healthy',\n      version: 'v4.0',\n      timestamp,\n      services: {\n        n8n: 'up',\n        supabase: 'up'\n      }\n    }\n  }\n}];"
            }
        },
        {
            "id": "respond_health",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                512,
                304
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            }
        }
    ],
    "connections": {
        "Webhook Health": {
            "main": [
                [
                    {
                        "node": "Check Health",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Health": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/Sao_Paulo",
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all"
    }
}